.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    h1 {
        color: #000000;
        font-size: 2.5em;
        margin: 0;

    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .objective {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        h2 {
            color: #000000;
            font-size: 2em;
            margin-top: 0;
        }

        p {
            color: #000000;
            line-height: 1.6;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 600px){
    .container {
        padding: 60px;
    }
    header h1 {
        font-size: 1.5em;
    }
    .content img {
        margin-bottom: 10px;
    }
    .content .objective {
        padding: 10px;
    }
    .content .objective h2 {
        font-size: 1.5em;
    }
    .content .objective p {
        line-height: 1.4;
        margin-bottom: 5px;
    }
}

@media(min-width: 601px) and (max-width: 900px) {
    .container {
        padding: 90px;
    }
    header h1 {
        font-size: 2em;
    }
    .content img {
        margin-bottom: 15px;
    }
    .content .objective {
        padding: 15px;
    }
    .content .objective h2 {
        font-size: 1.75em;
    }
    .content .objective p {
        line-height: 1.5;
        margin-bottom: 7px;
    }
}

@media(min-width: 901px) and (max-width: 1200px) {
    .container {
        padding: 120px;
    }
    header h1 {
        font-size: 2.5em;
    }
    .content img {
        margin-bottom: 20px;
    }
    .content .objective {
        padding: 20px;
    }
    .content .objective h2 {
        font-size: 2em;
    }
    .content .objective p {
        line-height: 1.6;
        margin-bottom: 10px;
    }
}

@media (min-width: 1201px){
    .container {
        padding: 150px;
    }
    header h1 {
        font-size: 3em;
    }
    .content img {
        margin-bottom: 25px;
    }
    .content .objective {
        padding: 25px;
    }
    .content .objective h2 {
        font-size: 2.5em;
    }
    .content .objective p {
        line-height: 1.7;
        margin-bottom: 15px;
    }
}