.rightcontainer {
    padding-top: 100px;
}

.leftsidecontainer {
    height: 100vh;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagemprincipal {
    align-items: center;
    margin: 0 10em;
}

.leftside {
    width: 80%;
}

.fontleft {
    font-size: 100px;
}


